<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>POPUP </title>
<link rel="stylesheet" href="css/stylesheet.css">
	
</head>

<body>
	<div class="containerpop">
		<div class="popup" id="popup">
			<img src="images/success.png">
			<button id="close">&times;</button>
		<h2>Pool Closing This September</h2>
			<p>Close your Pool and Hot tub with Family Pool Service. Our Experts provide a full guaranteed service with no worried<br>Make your order early for early and fast service. </p>
			<a href="" aria-label="close" data-toggle="modal"  class="btn-ask" data-target="#askservice" onclick="closePopup()">Make order</a>
		</div>
	</div>
	<script src="js/popup.js"></script>
</body>
</html>
