<!DOCTYPE html>
<html lang="en">
<head>
<title>Home | Family Pool Service</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="../../css/style.css">
<link rel="icon" href="images/logo.png">
<style>
	*{
		font-family: "lato";
		
	}
	.body{
		border: 5px solid #000;
		margin: 20px;
	}
.page-header {
    padding-bottom: 0px;
    margin: 7px 0 0px;
    border-bottom: 2px solid #eee;
    font-weight: 500;
	
}
.page-sub-header {
    padding-bottom: 0px;
    margin: 0px 0 5px;
    border-bottom: 1px solid #eee;
    font-weight: 500;
    font-size: 19px;
}.details-header {
    padding-bottom: 0px;
    margin: 0px 0 5px;
    border-bottom: 2px solid #06085C;
    font-weight: 500;
    font-size: 14px;
}
</style>
</head>
<body class="body">
<section class="ftco-section">
<div class="container">
  <div class="col-md-12 heading-section text-center">
    <div class="row">
      <div class="col-md-1"> <img src="../../images/logo.png" width="150px"> </div>
      <div class="col-md-11">
        <h1 class="page-header">FAMILY POOL SERVICE</h1>
        <p><strong>Email:</strong><em><a href="mailto:familypoolservice2020@gmail.com">familypoolservice2020@gmail.com</a></em> <strong>Phone:</strong><em><a href="tel:+19012977812">+19012977812.</a></em> Website <a href="https://familypoolserviceonline.com/" target="_blank">https://familypoolserviceonline.com</a></p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h3 class="page-sub-header">SERVICE REQUEST FORM</h3>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 d-flex align-self-stretch">
      <div class="block-18 d-flex services p-3 py-4 d-block">
		<div class="media-body pl-4">
		  <h3 class="heading details-header ">Personal details</h3>
			<ul class="list-unstyled">
				<li>Service ID: 	</li>
				<li>Name: 		</li>
				<li>Street: 		</li>
				<li>City: 		</li>
				<li>State: 		</li>
				<li>Application Date: 		</li>
			</ul>
		  </div>
		</div>
    </div>
    <div class="col-md-6 d-flex align-self-stretch">
      <div class="block-18 d-flex services p-3 py-4 d-block">
		<div class="media-body pl-4">
		  <h3 class="heading details-header">Contact Information</h3>
			<ul class="list-unstyled">
				<li>Phone Number: 		</li>
				<li>Email: 		</li>
				<li>Physical Address: 		</li>
			</ul>
		  </div>
		</div>
    </div>
  </div>
	<div class="row">
    <div class="col-md-12 d-flex align-self-stretch">
      <div class="block-18 d-flex services p-3 py-4 d-block">
		<div class="media-body pl-4">
		  <h3 class="heading details-header">Service requested</h3>
			<p> </p>
		  </div>
		</div>
    </div>
  </div>
	<div class="row">
    <div class="col-md-12 d-flex align-self-stretch">
      <div class="block-18 d-flex services p-3 py-4 d-block">
		<div class="media-body pl-4">
		  <h3 class="heading details-header">Service Description</h3>
			<p class=""></p>
		  </div>
		</div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 d-flex align-self-stretch">
      <div class="block-18 d-flex services p-3 py-4 d-block">
		<div class="media-body pl-4">
		  <h3 class="heading details-header">Service Contract</h3>
			<p class="">The service requested by the user will be commencing on _________________<br>
			This service will cost ________________ and as schedued, the service will end on _________________. Family Pool Service will be responsible for the service until the end day, and we will hand over to the owner of the site for service inspection and if any missing issues arise Family Pool will be responsible for clearance of the error.
			</p>
			<p>This Official Contract will be valid from the service commencing day to the site handing over day, and no any other arising issue will be cleared after the end of the contract will be involved in the expired contract. The site owner must make a new Contract by applying for the new service.</p>
			<p><strong>Family Pool service Manager AMANI JOEL </strong></p>
			<p>Manager Signature ___________________</p>
			<p>Customer name:____________________________________</p>
			<p>Signature:__________________</p>
		  </div>
		</div>
    </div>
  </div>
	<div class="row">
    <div class="col-md-12 d-flex align-self-stretch">
		<div class="media-body pl-4">
			<h3 class="heading details-header"></h3>
			<div class="row">
			<div class="col-md-5"><p class="">FAMILY POOL SERVICE, SERVICE CENTER</p></div>
			<div class="col-md-3"><p class="">TechClouds.com</p></div>
			<div class="col-md-4 text-center"><p>Generated on </p></div>
			</div>	
		</div>
    </div>
  </div>
</div>
</body>
</html>
